jumbotron {
    background-color: gray;
    color: white;
}

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: orange;
    color: white;
}

.severe {
    background-color: red;
    color: white;
}

#searchBtn {
    background-color: blue;
    color: white;
}

